#demo
{
    height: 80px;
    padding-left: 65px;
}
#li
{
   padding-top: 20px;
   padding-left: 400px;
}
.hoempagebar
{
   height: 150px; 
}
#homebutton
{
    
}
#disbutton
{
    
   background-color:deepskyblue'; 
}

